<header class="header">
  <div class="header__container">
    <div class="header__body">
      <div class="header__burger burger">
        <div class="burger__wrapper">
          <span></span>
        </div>
      </div>
      <a class="header__logo" href="index.html">Logo</a>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item"><a href="#">Link #1</a></li>
          <li class="header__item"><a href="#">Link #2</a></li>
          <li class="header__item"><a href="#">Link #3</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>