.active {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #008767;
    background-color: #16C09861;
    border: 1px solid #00B087;
    border-radius: 4px;
    padding: 4px 0;
    @include fl(14, 21);
    font-weight: 500;
    min-width: 78px;

    // @media (max-width: 1249px) {
    //     padding: 4px 7px;
    // }
}