.row-active {
    box-sizing: border-box;
    display: flex;
    gap: 15px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        background-color: #EEEEEE;
        width: 98%;
        height: 1px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;

        @media (max-width: 1299px) {
            width: 100%;
        }
    }

    &__cell {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 19px 5px;
    }

    &__cell:first-child {
        flex: 0 1 17.5%;
        min-width: 127px;
    }

    &__cell:nth-child(2) {
        flex: 0 1 12.7%;
        min-width: 80px;
    }

    &__cell:nth-child(3) {
        flex: 0 1 15.6%;
        min-width: 127px;
    }

    &__cell:nth-child(4) {
        flex: 0 1 21.2%;
        min-width: 170px;
    }

    &__cell:nth-child(5) {
        flex: 0 1 13.8%;
        min-width: 93px;
    }

    &__cell:nth-child(6) {
        flex: 1 1 auto;
        min-width: 78px;
    }

    // .row-active__text

    &__text {
        display: block;
        font-weight: 500;
        @include fl(14, 21);
    }
}