@mixin typographic($c, $fz, $lh, $ls, $ff, $fw, $op: 1) {
	color: $c;
	font-size: calc($fz / 16 * 1em);
	line-height: $lh/$fz;
	letter-spacing: $ls;
	font-family: $ff;
	font-weight: $fw;
	opacity: $op;
}

@mixin fz($fz: 16) {
	font-size: calc($fz / 16 * 1em);
}

@mixin lh($lh: 24, $fz: 16) {
	line-height: calc($lh/$fz);
}

@mixin fl($fz: 16, $lh: 24) {
	font-size: calc($fz / 16 * 1em);
	line-height: calc($lh/$fz);
}