.navboard {
    transition: all 0.2s ease 0s;
    background-color: $white;
    position: fixed;
    height: 100%;
    width: 306px;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.50);

    @media (max-width: 499px) {
        width: 80px;
    }

    @media (max-width: 999px) {
        width: 100px;
    }

    // navboard__container

    &__container {
        overflow: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 37px 28px 0;
        gap: 30px;

        @media (max-width: 499px) {
            padding: 37px 16% 0;
        }
    }

    // navboard__block-title

    &__block-title {
        display: flex;
        margin-bottom: 52px;

        @media (max-width: 999px) {
            margin-bottom: 30px;
            justify-content: center;
        }
    }

    // navboard__title

    &__title {
        font-weight: 600;
        @include fl(26, 39);
        color: $black;
        margin-right: 4px;
        transition: all 0.2s ease 0s;

        @media (max-width: 999px) {
            display: none;
            // opacity: 0;
            // pointer-events: none;
        }
    }

    // navboard__elem

    &__elem {
        font-weight: 500;
        @include fl(10, 15);
        color: #838383;
        align-self: flex-end;
        padding-bottom: 7px;
        transition: all 0.2s ease 0s;

        @media (max-width: 999px) {
            display: none;
        }
    }

    // navboard__nav

    &__nav {
        @media (max-width: 999px) {
            margin-bottom: 30px;
        }
    }

    // navboard__list

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    // navboard__block-user

    &__block-user {
        margin-top: auto;
        display: flex;
        padding-bottom: 76px;
        gap: 12px;

        @media (max-width: 499px) {
            justify-content: center;
        }
    }

    &__pic-wrap {
        overflow: hidden;
        width: 42px;
        height: 42px;
    }

    // navboard__pic

    &__pic {
        background: url("@img/gallery/avatar.webp") no-repeat center;
        width: 42px;
        height: 42px;
    }

    // navboard__block-name

    &__block-name {
        display: flex;
        flex-direction: column;
        padding-top: 2px;

        @media (max-width: 999px) {
            display: none;
        }
    }

    // navboard__name

    &__name {
        color: $black;
        display: block;
        @include fl(14, 21);
        letter-spacing: 0.01em;
        transition: all 0.2s ease 0s;
    }

    // navboard__desc

    &__desc {
        color: #757575;
        @include fl(12, 18);
        display: block;
        transition: all 0.2s ease 0s;
    }
}

.setting {
    color: $black;
    @include fz(37);
    margin-right: 8px;
    transition: all 0.2s ease 0s;

    @media (max-width: 999px) {
        margin-right: 0;
    }
}


// ! .dashboard === dashboard === dashboard === dashboard === dashboard === dashboard === dashboard
// ! .dashboard === dashboard === dashboard === dashboard === dashboard === dashboard === dashboard
// ! .dashboard === dashboard === dashboard === dashboard === dashboard === dashboard === dashboard

.dashboard {
    transition: all 0.2s ease 0s;
    background-color: #FAFBFF;
    position: relative;
    left: 306px;
    width: calc(100% - 306px);

    @media (max-width: 499px) {
        width: calc(100% - 80px);
        left: 80px;
    }

    @media (max-width: 999px) {
        left: 100px;
        width: calc(100% - 100px);
    }

    // .dashboard__container

    &__container {
        padding: 41px 8.4% 23% 6.3%;

        @media (max-width: 1149px) {
            padding: 41px 4.5% 23% 3%;
        }

        @media (max-width: 1349px) {
            padding: 41px 6% 23% 4%;
        }
    }

    // .dashboard__main-block

    &__main-block {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 51px;
        padding-right: 3%;
    }

    // .dashboard__field
    &__field {
        display: none;
    }

    // .dashboard__swipe

    &__swipe {
        display: inline-block;
        background-color: #d2d2d2;
        width: 90px;
        height: 40px;
        border-radius: 100px;
        cursor: pointer;
        position: relative;
        transition: all 0.2s ease 0s;
    }

    &__swipe::before {
        content: "";
        position: absolute;
        background-color: #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        left: 5px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        transition: all 0.2s ease 0s;
    }

    &__field:checked+.dashboard__swipe {
        background-color: $plum;

    }

    &__field:checked+.dashboard__swipe::before {
        transform: translateX(50px);
    }

    // .dashboard__main-text

    &__main-text {
        color: $black;
        font-weight: 500;
        @include fl(24, 36);
        transition: all 0.2s ease 0s;
    }

    // .dashboard__box

    &__box {
        transition: all 0.2s ease 0s;
        background-color: $white;
        box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
        border-radius: 30px;
    }

    // .dashboard__board

    &__board {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;
        padding: 30px 5.5% 0 3.75%;
        margin-bottom: 26px;
    }

    // .dashboard__subtitle

    &__subtitle {
        font-weight: 600;
        @include fl(22, 33);
        color: $black;
        margin-bottom: 7px;
    }

    // .dashboard__text

    &__text {
        color: #16C098;
        @include fl(14, 21);
    }

    // .dashboard__field

    &__field-wrap {
        padding-top: 14px;
        flex: 0 1 auto;
        align-self: flex-start;
        max-width: 216px;

        svg {
            path {
                stroke: #7E7E7E;
            }

            width: 29px;
            height: 27px;
        }
    }

    // .dashboard__body

    &__field-body {
        display: flex;
        gap: 8px;
        background-color: #F9FBFF;
        border-radius: 10px;
        padding: 5px 8px 7px;
    }

    // .dashboard__field

    &__field {
        background-color: transparent;
        width: 100%;
        height: auto;
        border: none;
    }

    &__field::placeholder {
        color: $grey;
        @include fz(15);
        line-height: normal;
        letter-spacing: -0.01em;
    }

    // .dashboard__table-container

    &__table-container {
        width: 100%;
    }

    // .dashboard__table-wrap

    &__table-wrap {
        overflow: auto;
        width: 100%;
    }

    // .dashboard__table

    &__table {
        width: 100%;
    }

    &__main-row {
        box-sizing: border-box;
        display: block;
    }

    // .dashboard__table-head-row

    &__table-head-row {
        box-sizing: border-box;
        padding: 0 28px 0 31px;
        display: flex;
        position: relative;
    }

    &__table-head-row::after {
        content: "";
        position: absolute;
        background-color: #EEEEEE;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
    }

    &__table-head-cell {
        padding: 14px 5px;
        display: flex;
        box-sizing: border-box;
    }

    &__table-head-cell:first-child {
        flex: 1 1 15.4%;
        min-width: 127px;
    }

    &__table-head-cell:nth-child(2) {
        flex: 1 10.8%;
        min-width: 80px;
    }

    &__table-head-cell:nth-child(3) {
        flex: 1 1 13.5%;
        min-width: 115px;
    }

    &__table-head-cell:nth-child(4) {
        flex: 1 1 19%;
        min-width: 170px;
    }

    &__table-head-cell:nth-child(5) {
        flex: 1 1 13.3%;
        min-width: 93px;
    }

    &__table-head-cell:nth-child(6) {
        flex: 1 1 auto;
        min-width: 78px;
    }

    // .dashboard__row-text 

    &__row-text {
        display: inline-block;
        color: $grey;
        font-weight: 500;
        @include fl(14, 21);
    }

    // .dashboard__table-body

    &__table-body {
        box-sizing: border-box;
        display: block;
        padding: 0 31px;
    }

    // .dashboard__footer-block

    &__footer-block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 35px;
        padding: 30px 4% 40px 3.875%;
    }

    // .dashboard__par

    &__par {
        font-weight: 500;
        @include fl(14, 21);
        color: $grey;
        padding-top: 2px;
    }

    // .dashboard__list

    &__list {
        display: flex;
        gap: 13px;

        @media (max-width: 499px) {
            gap: 4px;
            flex-wrap: wrap;
        }
    }

    // .dashboard__item-main

    &__item-main.current {
        .pag-btn {
            background-color: $plum;
            color: $white;
        }
    }

    .pag:hover {
        background-color: darken(#F5F5F5, 10%);
    }

    // .dashboard__pag

    .pag {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 24px;
        background: #F5F5F5;
        border: 1px solid #EEEEEE;
        border-radius: 4px;
        font-weight: 500;
        cursor: pointer;
    }

    .pag:hover {
        background-color: darken(#F5F5F5, 10%);
    }

    .pag:active {
        background-color: darken(#F5F5F5, 5%);
    }



    &__points {
        padding-top: 4px;
    }

    .pag-second {
        .arrow-pag {
            transform: rotate(180deg);
        }
    }
}

.arrow-pag {
    color: #404B52;
    @include fz(7);
}


body.darken {
    .navboard {
        box-shadow: none;
        background-color: #303030;

        &__title {
            color: $white;
        }

        &__elem {
            color: $white;
        }

        &__name {
            color: $white;
        }

        &__desc {
            color: $white;
        }

        .setting {
            color: $white;
        }
    }

    .dashboard {
        background-color: #1C1C1C;

        &__main-text {
            color: $white;
        }

        &__box {
            background-color: #696969;
            box-shadow: none;
        }
    }
}