@charset "UTF-8";

/*Шрифты*/

/* Эрик Мейерс сброс стилей */

/* v2.0 | 20110126 */

/* html5doctor.com Reset Stylesheet (http://html5doctor.com/html-5-reset-stylesheet/) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?ddprne");
  src: url("../fonts/icons.eot?ddprne#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?ddprne") format("truetype"), url("../fonts/icons.woff?ddprne") format("woff"), url("../fonts/icons.svg?ddprne#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d:before {
  content: "\e900";
}

.arrow:before {
  content: "\e901";
}

.arrow-pag:before {
  content: "\e902";
}

.discount:before {
  content: "\e903";
}

.key:before {
  content: "\e904";
}

.question:before {
  content: "\e905";
}

.search:before {
  content: "\e906";
}

.setting:before {
  content: "\e907";
}

.user:before {
  content: "\e908";
}

.wallet:before {
  content: "\e909";
}

body.lock {
  overflow: hidden;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
}

[class*=__container] {
  padding-left: 5.3333333333%;
  padding-right: 5.3333333333%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
}

.header__body {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  z-index: 2;
  font-size: 35px;
  transition: all 0.3s ease;
}

.header__list {
  display: flex;
  gap: 15px;
}

.header__list li {
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.875em;
  line-height: 0.8;
}

.header__list a {
  display: flex;
  justify-content: center;
}

.header.active:before {
  left: 0;
}

.burger {
  position: relative;
  z-index: 2;
  min-height: 40px;
  width: 40px;
  margin-left: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  /* 
    &:hover .burger__wrapper {
       span,
       &:before,
       &:after {
          background-color: orange; 
       }
    }
  */
}

.burger__wrapper {
  width: 30px;
  height: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.burger__wrapper span,
.burger__wrapper:before,
.burger__wrapper:after {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease;
  transform: translate(0, 0);
  position: relative;
  left: 0;
}

.burger__wrapper:before {
  content: "";
  animation: burgerTopDisabled 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger__wrapper:after {
  content: "";
  animation: burgerBottomDisabled 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger__wrapper span {
  top: 50%;
  transform: translate(0, -150%);
  transition: background-color 0.3s ease, transform 0.3s ease 0s;
}

@keyframes burgerTopDisabled {
  0% {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
  }

  50% {
    top: 50%;
    transform: translate(0, -50%);
  }

  100% {
    top: 0;
    transform: translate(0, 0);
  }
}

@keyframes burgerBottomDisabled {
  0% {
    top: 50%;
    transform: translate(0, -250%) rotate(45deg);
  }

  50% {
    top: 50%;
    transform: translate(0, -250%);
  }

  100% {
    top: 100%;
    transform: translate(0, -300%);
  }
}

.burger.active .burger__wrapper:before {
  animation: burgerTopActive 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger.active .burger__wrapper span {
  transform: translate(0, -150%) scale(0);
  transition: background-color 0.3s ease, transform 0.3s ease 0.3s;
}

.burger.active .burger__wrapper:after {
  animation: burgerBottomActive 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

@keyframes burgerTopActive {
  0% {
    top: 0;
    transform: translate(0, 0);
  }

  50% {
    top: 50%;
    transform: translate(0, -50%);
  }

  100% {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
  }
}

@keyframes burgerBottomActive {
  0% {
    top: 100%;
    transform: translate(0, -300%);
  }

  50% {
    top: 50%;
    transform: translate(0, -250%);
  }

  100% {
    top: 50%;
    transform: translate(0, -250%) rotate(45deg);
  }
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #008767;
  background-color: rgba(22, 192, 152, 0.3803921569);
  border: 1px solid #00B087;
  border-radius: 4px;
  padding: 4px 0;
  font-size: 0.875em;
  line-height: 1.5;
  font-weight: 500;
  min-width: 78px;
}

.inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DF0404;
  background-color: #FFC5C5;
  border: 1px solid #DF0404;
  border-radius: 4px;
  padding: 4px 0;
  font-size: 0.875em;
  line-height: 1.5;
  font-weight: 500;
  min-width: 78px;
}

.nav-item {
  color: #9197B3;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  border-radius: 8px;
  padding: 11px 8px 11px 11px;
}

.nav-item:hover {
  background-color: #c9bdf8;
}

.nav-item:hover .nav-item__text {
  color: #FFFFFF;
}

.nav-item:hover svg path {
  stroke: #FFFFFF;
}

.nav-item:hover .d,
.nav-item:hover .discount,
.nav-item:hover .question {
  color: #FFFFFF;
}

.nav-item__text {
  font-weight: 500;
  font-size: 0.875em;
  line-height: 1.5;
}

.nav-item__ic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.nav-item svg path {
  stroke: #9197B3;
}

.nav-item.current {
  background-color: #5932EA;
}

.nav-item.current .nav-item__text {
  color: #FFFFFF;
}

.nav-item.current svg path {
  stroke: #FFFFFF;
}

.nav-item.current .nav-item__ic {
  transition: all 0.2s ease 0s;
  transform: rotate(90deg);
}

.nav-item.current .d,
.nav-item.current .discount,
.nav-item.current .question {
  color: #FFFFFF;
}

.nav-item:nth-child(4) {
  margin-top: -4px;
}

.d,
.discount,
.question {
  font-size: 1.4375em;
}

.pag-btn {
  width: 24px;
  height: 24px;
}

.row-active {
  box-sizing: border-box;
  display: flex;
  gap: 15px;
  position: relative;
}

.row-active::after {
  content: "";
  position: absolute;
  background-color: #EEEEEE;
  width: 98%;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.row-active__cell {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 19px 5px;
}

.row-active__cell:first-child {
  flex: 0 1 17.5%;
  min-width: 127px;
}

.row-active__cell:nth-child(2) {
  flex: 0 1 12.7%;
  min-width: 80px;
}

.row-active__cell:nth-child(3) {
  flex: 0 1 15.6%;
  min-width: 127px;
}

.row-active__cell:nth-child(4) {
  flex: 0 1 21.2%;
  min-width: 170px;
}

.row-active__cell:nth-child(5) {
  flex: 0 1 13.8%;
  min-width: 93px;
}

.row-active__cell:nth-child(6) {
  flex: 1 1 auto;
  min-width: 78px;
}

.row-active__text {
  display: block;
  font-weight: 500;
  font-size: 0.875em;
  line-height: 1.5;
}

.row-active__text {
  font-weight: 500;
  font-size: 0.875em;
  line-height: 1.5;
}

.navboard {
  transition: all 0.2s ease 0s;
  background-color: #FFFFFF;
  position: fixed;
  height: 100%;
  width: 306px;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
}

.navboard__container {
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 37px 28px 0;
  gap: 30px;
}

.navboard__block-title {
  display: flex;
  margin-bottom: 52px;
}

.navboard__title {
  font-weight: 600;
  font-size: 1.625em;
  line-height: 1.5;
  color: #000000;
  margin-right: 4px;
  transition: all 0.2s ease 0s;
}

.navboard__elem {
  font-weight: 500;
  font-size: 0.625em;
  line-height: 1.5;
  color: #838383;
  align-self: flex-end;
  padding-bottom: 7px;
  transition: all 0.2s ease 0s;
}

.navboard__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navboard__block-user {
  margin-top: auto;
  display: flex;
  padding-bottom: 76px;
  gap: 12px;
}

.navboard__pic-wrap {
  overflow: hidden;
  width: 42px;
  height: 42px;
}

.navboard__pic {
  background: url("@img/gallery/avatar.webp") no-repeat center;
  width: 42px;
  height: 42px;
}

.navboard__block-name {
  display: flex;
  flex-direction: column;
  padding-top: 2px;
}

.navboard__name {
  color: #000000;
  display: block;
  font-size: 0.875em;
  line-height: 1.5;
  letter-spacing: 0.01em;
  transition: all 0.2s ease 0s;
}

.navboard__desc {
  color: #757575;
  font-size: 0.75em;
  line-height: 1.5;
  display: block;
  transition: all 0.2s ease 0s;
}

.setting {
  color: #000000;
  font-size: 2.3125em;
  margin-right: 8px;
  transition: all 0.2s ease 0s;
}

.dashboard {
  transition: all 0.2s ease 0s;
  background-color: #FAFBFF;
  position: relative;
  left: 306px;
  width: calc(100% - 306px);
}

.dashboard__container {
  padding: 41px 8.4% 23% 6.3%;
}

.dashboard__main-block {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 51px;
  padding-right: 3%;
}

.dashboard__field {
  display: none;
}

.dashboard__swipe {
  display: inline-block;
  background-color: #d2d2d2;
  width: 90px;
  height: 40px;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease 0s;
}

.dashboard__swipe::before {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  left: 5px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: all 0.2s ease 0s;
}

.dashboard__field:checked + .dashboard__swipe {
  background-color: #5932EA;
}

.dashboard__field:checked + .dashboard__swipe::before {
  transform: translateX(50px);
}

.dashboard__main-text {
  color: #000000;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 1.5;
  transition: all 0.2s ease 0s;
}

.dashboard__box {
  transition: all 0.2s ease 0s;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
}

.dashboard__board {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  padding: 30px 5.5% 0 3.75%;
  margin-bottom: 26px;
}

.dashboard__subtitle {
  font-weight: 600;
  font-size: 1.375em;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 7px;
}

.dashboard__text {
  color: #16C098;
  font-size: 0.875em;
  line-height: 1.5;
}

.dashboard__field-wrap {
  padding-top: 14px;
  flex: 0 1 auto;
  align-self: flex-start;
  max-width: 216px;
}

.dashboard__field-wrap svg {
  width: 29px;
  height: 27px;
}

.dashboard__field-wrap svg path {
  stroke: #7E7E7E;
}

.dashboard__field-body {
  display: flex;
  gap: 8px;
  background-color: #F9FBFF;
  border-radius: 10px;
  padding: 5px 8px 7px;
}

.dashboard__field {
  background-color: transparent;
  width: 100%;
  height: auto;
  border: none;
}

.dashboard__field::-moz-placeholder {
  color: #B5B7C0;
  font-size: 0.9375em;
  line-height: normal;
  letter-spacing: -0.01em;
}

.dashboard__field::placeholder {
  color: #B5B7C0;
  font-size: 0.9375em;
  line-height: normal;
  letter-spacing: -0.01em;
}

.dashboard__table-container {
  width: 100%;
}

.dashboard__table-wrap {
  overflow: auto;
  width: 100%;
}

.dashboard__table {
  width: 100%;
}

.dashboard__main-row {
  box-sizing: border-box;
  display: block;
}

.dashboard__table-head-row {
  box-sizing: border-box;
  padding: 0 28px 0 31px;
  display: flex;
  position: relative;
}

.dashboard__table-head-row::after {
  content: "";
  position: absolute;
  background-color: #EEEEEE;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

.dashboard__table-head-cell {
  padding: 14px 5px;
  display: flex;
  box-sizing: border-box;
}

.dashboard__table-head-cell:first-child {
  flex: 1 1 15.4%;
  min-width: 127px;
}

.dashboard__table-head-cell:nth-child(2) {
  flex: 1 10.8%;
  min-width: 80px;
}

.dashboard__table-head-cell:nth-child(3) {
  flex: 1 1 13.5%;
  min-width: 115px;
}

.dashboard__table-head-cell:nth-child(4) {
  flex: 1 1 19%;
  min-width: 170px;
}

.dashboard__table-head-cell:nth-child(5) {
  flex: 1 1 13.3%;
  min-width: 93px;
}

.dashboard__table-head-cell:nth-child(6) {
  flex: 1 1 auto;
  min-width: 78px;
}

.dashboard__row-text {
  display: inline-block;
  color: #B5B7C0;
  font-weight: 500;
  font-size: 0.875em;
  line-height: 1.5;
}

.dashboard__table-body {
  box-sizing: border-box;
  display: block;
  padding: 0 31px;
}

.dashboard__footer-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 35px;
  padding: 30px 4% 40px 3.875%;
}

.dashboard__par {
  font-weight: 500;
  font-size: 0.875em;
  line-height: 1.5;
  color: #B5B7C0;
  padding-top: 2px;
}

.dashboard__list {
  display: flex;
  gap: 13px;
}

.dashboard__item-main.current .pag-btn {
  background-color: #5932EA;
  color: #FFFFFF;
}

.dashboard .pag:hover {
  background-color: gainsboro;
}

.dashboard .pag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 24px;
  background: #F5F5F5;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}

.dashboard .pag:hover {
  background-color: gainsboro;
}

.dashboard .pag:active {
  background-color: #e8e8e8;
}

.dashboard__points {
  padding-top: 4px;
}

.dashboard .pag-second .arrow-pag {
  transform: rotate(180deg);
}

.arrow-pag {
  color: #404B52;
  font-size: 0.4375em;
}

body.darken .navboard {
  box-shadow: none;
  background-color: #303030;
}

body.darken .navboard__title {
  color: #FFFFFF;
}

body.darken .navboard__elem {
  color: #FFFFFF;
}

body.darken .navboard__name {
  color: #FFFFFF;
}

body.darken .navboard__desc {
  color: #FFFFFF;
}

body.darken .navboard .setting {
  color: #FFFFFF;
}

body.darken .dashboard {
  background-color: #1C1C1C;
}

body.darken .dashboard__main-text {
  color: #FFFFFF;
}

body.darken .dashboard__box {
  background-color: #696969;
  box-shadow: none;
}

@media (min-width: 1000px) {
  .header__logo:hover {
    transform: scale(1.2);
  }

  .header__list {
    align-items: center;
  }

  .header__list li:hover {
    transform: scale(1.2);
  }

  .burger {
    display: none;
  }
}

@media (max-width: 1349px) {
  .dashboard__container {
    padding: 41px 6% 23% 4%;
  }
}

@media (max-width: 1299px) {
  .row-active::after {
    width: 100%;
  }
}

@media (max-width: 1149px) {
  .nav-item {
    padding: 11px 6px 11px 8px;
  }

  .dashboard__container {
    padding: 41px 4.5% 23% 3%;
  }
}

@media (max-width: 999px) {
  .header:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100vw;
    height: 100%;
    background-color: #a7afe2;
    z-index: 1;
    transition: all 0.3s ease 0s;
  }

  .header__nav {
    overflow: auto;
    left: -100vw;
    padding-top: 100px;
    padding-bottom: 20px;
    top: 0;
    height: 100vh;
    position: absolute;
    background-color: #a7afe2;
    padding-left: 3.90625%;
    padding-right: 3.90625%;
    transition: all 0.3s ease 0s;
  }

  .header__list {
    flex-direction: column;
  }

  .header.active .header__nav {
    left: 0;
  }

  .nav-item {
    justify-content: center;
  }

  .nav-item__text {
    display: none;
  }

  .nav-item__ic {
    display: none;
  }

  .navboard {
    width: 100px;
  }

  .navboard__block-title {
    margin-bottom: 30px;
    justify-content: center;
  }

  .navboard__title {
    display: none;
  }

  .navboard__elem {
    display: none;
  }

  .navboard__nav {
    margin-bottom: 30px;
  }

  .navboard__block-name {
    display: none;
  }

  .setting {
    margin-right: 0;
  }

  .dashboard {
    left: 100px;
    width: calc(100% - 100px);
  }
}

@media (max-width: 767px) {
  .header:before {
    width: 100vw;
  }

  .header__nav {
    width: 100vw;
    align-items: center;
  }

  .header__list {
    align-items: center;
    gap: 20px;
  }

  .header__list li {
    width: 100%;
  }
}

@media (max-width: 499px) {
  .navboard {
    width: 80px;
  }

  .navboard__container {
    padding: 37px 16% 0;
  }

  .navboard__block-user {
    justify-content: center;
  }

  .dashboard__list {
    gap: 4px;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .header:before {
    width: 40vw;
  }

  .header__nav {
    width: 40vw;
  }
}