<div class="accord__column">
  <div class="accord__preview">
    <h3 class="accord__subtitle">Services</h3>
    <i class="arrow"></i>
  </div>
  <div class="accord__column-block-text">
    <p class="accord__column-text">Email Marketing</p>
    <p class="accord__column-text">Campaigns</p>
    <p class="accord__column-text">Branding</p>
    <p class="accord__column-text">Offline</p>
  </div>
</div>
<div class="accord__column">
  <div class="accord__preview">
    <h3 class="accord__subtitle">About</h3>
    <i class="arrow"></i>
  </div>
  <div class="accord__column-block-text">
    <p class="accord__column-text">Our Story</p>
    <p class="accord__column-text">Benefits</p>
    <p class="accord__column-text">Team</p>
    <p class="accord__column-text">Careers</p>
  </div>
</div>
<div class="accord__column">
  <div class="accord__preview">
    <h3 class="accord__subtitle">Help</h3>
    <i class="arrow"></i>
  </div>
  <div class="accord__column-block-text">
    <p class="accord__column-text">FAQs</p>
    <p class="accord__column-text">Contact Us</p>
  </div>
</div>