<tr class="row-active">
  <td class="row-active__cell"><span class="row-active__text">@@name</span></td>
  <td class="row-active__cell"><span class="row-active__text">@@company</span></td>
  <td class="row-active__cell"><span class="row-active__text">@@number</span></td>
  <td class="row-active__cell"><span class="row-active__text">@@mail</span></td>
  <td class="row-active__cell"><span class="row-active__text">@@country</span></td>
  <td class="row-active__cell">@@include('./_inactive.html')</td>
</tr>